	<div class="form-group">
		<label for="<%=name%>Id"><%=label%></label>
		<select name="<%=name%>Id" class="form-control select2" id="<%=name%>Id" <% if(functionName != ''){ %> onchange="getLocationFields(this.value, '<%=nextFieldId%>', 'get_<%=nextField%>', 'Select <%=nextField%>', '<%=functionName%>', '<%=page%>')"<% } %> >
		  <option value=""><%=label%></option>
		  <% if(data && data.length>0){ %>
		  	<% for(let i = 0; i < data.length; i++){ %>
			<option value="<%=data[i].id%>"><%= name == 'pincode' || name == 'shippingPincode' || name == 'billingPincode'?data[i].pincode:data[i].name%></option>
			<% 	} %>
		  <% } %>
		</select>
	</div>