<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><%=pageTitle%></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="javascript:void(0)"><%=moduleName%></a></li>
              <li class="breadcrumb-item active"><%=pageTitle%></li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary card-outline">
              <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">Offer Information</h3>
                <ul class="nav nav-pills ml-auto p-2">
                  <li class="nav-item"><a class="btn btn-block btn-secondary" href="<%=APPCONSTANT.ADMINCALLURL%>/manage_offer">Back</a></li>
                </ul>
              </div>
              <form role="form" id="addOfferForm" method="post" enctype="multipart/form-data">
                <div id="tableContent" style="padding: 0 17px 0 10px;">
                  <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="name">Offer Name</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Offer Name">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="from">From Date</label>
                        <input type="date" name="from" class="form-control" id="from" placeholder="From Date">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="to">To Date</label>
                        <input type="date" name="to" class="form-control" id="to" placeholder="To Date">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="to">Multiple of</label>
                        <input type="text" name="multipleOf" class="form-control" id="multipleOf" placeholder="Multiple of">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="to">Free Items</label>
                        <input type="text" name="freeItem" class="form-control" id="freeItem" placeholder="Free Items">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="applyFor">Offer Apply For</label>
                        <select name="applyFor" class="form-control" id="applyFor">
                        <option value="both">Both</option>
                        <option value="web">Website</option>
                        <option value="app">App</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="capping">Capping</label>
                      <input type="text" name="capping" class="form-control" id="capping" placeholder="Capping">
                    </div>
                  </div>
                  <div class="card-header">
                    <h3 class="card-title">Offer Applicable on</h3>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="offerCategoryId">Select Category</label>
                        <select name="offerCategoryId" class="form-control select2" id="offerCategoryId" onchange="getProductByMulCatsubcat(this, 'categoryId', 'offerSubcategoryId', 'offerProductId');" multiple="multiple">
                        <% for(let i = 0; i < categoryData.length; i++){ %>
                            <option value="<%=categoryData[i].id%>"><%=categoryData[i].name%></option>
                          <% } %>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="offerSubcategoryId">Select Sub  Category</label>
                      <select name="offerSubcategoryId" class="form-control select2" id="offerSubcategoryId" onchange="getProductBMulCatsubcat(this, 'subcategoryId', '', 'offerProductId');" multiple="multiple">
                      <% for(let i = 0; i < subcategoryData.length; i++){ %>
                          <option value="<%=subcategoryData[i].id%>"><%=subcategoryData[i].name%></option>
                        <% } %>
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="offerProductId">Select Product</label>
                      <select name="offerProductId" class="form-control select2" id="offerProductId" multiple="multiple">
                      <% for(let i = 0; i < productData.length; i++){ %>
                          <option value="<%=productData[i].id%>"><%=productData[i].name%></option>
                        <% } %>
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="offerProductId">Varient</label><br>
                      <input type="radio" name="offerVarient" value="default"> Default
                      <input type="radio" name="offerVarient" value="all"> All
                    </div>
                  </div>
                  <div class="card-header">
                    <h3 class="card-title">Free Item</h3>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="freeCategoryId">Select Category</label>
                        <select name="freeCategoryId" class="form-control" id="freeCategoryId" onchange="getProductByCatsubcat(this, 'categoryId', 'freeSubcategoryId', 'freeProductId');">
                        <option value="">Select Option</option>
                        <% for(let i = 0; i < categoryData.length; i++){ %>
                            <option value="<%=categoryData[i].id%>"><%=categoryData[i].name%></option>
                          <% } %>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="freeSubcategoryId">Select Option</label>
                      <select name="freeSubcategoryId" class="form-control" id="freeSubcategoryId" onchange="getProductByCatsubcat(this, 'subcategoryId', '', 'freeProductId');">
                      <option value="">Select Sub Category</option>
                      <% for(let i = 0; i < subcategoryData.length; i++){ %>
                          <option value="<%=subcategoryData[i].id%>"><%=subcategoryData[i].name%></option>
                        <% } %>
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="freeProductId">Select Option</label>
                      <select name="freeProductId" class="form-control" id="freeProductId">
                      <option value="">Select Product</option>
                      <% for(let i = 0; i < productData.length; i++){ %>
                          <option value="<%=productData[i].id%>"><%=productData[i].name%></option>
                        <% } %>
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="freeVarient">Varient</label>
                      <select name="freeVarient" class="form-control" id="freeVarient">
                      <option value="">Select Option</option>
                      </select>
                    </div>
                  </div>
                </div>  
                <div class="card-footer">
                  <a href="<%=APPCONSTANT.ADMINCALLURL%>/manage_offer" class="btn btn-default">Cancel</a>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
  
          </div>
        </div>
      </div>
    </section>
  </div>
