<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><%=pageTitle%></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="javascript:void(0)"><%=moduleName%></a></li>
              <li class="breadcrumb-item active"><%=pageTitle%></li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary card-outline">
              <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">Offer Information</h3>
                <ul class="nav nav-pills ml-auto p-2">
                  <li class="nav-item"><a class="btn btn-block btn-secondary" href="<%=APPCONSTANT.ADMINCALLURL%>/manage_offer">Back</a></li>
                </ul>
              </div>
              <form role="form" id="editOfferForm" method="post" enctype="multipart/form-data">
                <div id="tableContent" style="padding: 0 17px 0 10px;">
                  <div class="form-row">
                      <!-- <div class="card-body"> -->
                        
                          <div class="form-group col-md-3">
                              <label for="name">Offer Name</label>
                              <input type="text" name="name" class="form-control" value="<%=offerData.name%>" id="name" placeholder="Offer Name">
                          </div>
                          <div class="form-group col-md-3">
                              <label for="categoryId">Select Category</label>
                              <select name="categoryId" class="form-control" id="categoryId">
                              <option value="">Select Category</option>
                              <% for(let i = 0; i < categoryData.length; i++){ %>
                                  <option value="<%=categoryData[i].id%>" <% if(offerData.categoryId == categoryData[i].id){ %> selected="selected" <% } %> ><%=categoryData[i].name%></option>
                                <% } %>
                              </select>
                          </div>
                          <!-- <span id="subcategoryData" class="locationFields form-group col-md-3"> -->
                            <div  id="subcategoryData" class="col-md-3">
                              <div class="form-group">
                                  <label for="subcategoryId">Select Sub  Category</label>
                                  <select name="subcategoryId" class="form-control" id="subcategoryId">
                                  <option value="">Select Sub Category</option>
                                  <% for(let i = 0; i < subcategoryData.length; i++){ %>
                                      <option value="<%=subcategoryData[i].id%>"<% if(offerData.subcategoryId == subcategoryData[i].id){ %> selected="selected" <% } %> ><%=subcategoryData[i].name%></option>
                                    <% } %>
                                  </select>
                              </div>
                            </div>
                          <!-- </span> -->
                          <div class="form-group col-md-3">
                              <label for="productId">Select Product</label>
                              <select name="productId" class="form-control" id="productId">
                              <option value="">Select Product</option>
                              <% for(let i = 0; i < productData.length; i++){ %>
                                  <option value="<%=productData[i].id%>"<% if(offerData.productId == productData[i].id){ %> selected="selected" <% } %> ><%=productData[i].name%></option>
                                <% } %>
                              </select>
                          </div>
                          
                          <div class="form-group col-md-3">
                              <label for="offerType">Select Offer Type</label>
                              <select name="offerType" class="form-control" id="offerType">
                              <option value="">Select Offer Type</option>
                              <option value="percentage"<% if(offerData.offerType =="percentage"){ %> selected="selected" <% } %> >Percentage</option>
                              <option value="fixed"<% if(offerData.offerType =="fixed"){ %> selected="selected" <% } %> >Fixed</option>
                              </select>
                          </div>
                          <div class="form-group col-md-3" id="percentage_div" <% if(offerData.offerType != "percentage"){ %> style="display:none;" <% } %> >
                              <label for="percentage">Percentage</label>
                              <input type="text" name="percentage" class="form-control" value="<%=offerData.percentage%>" id="percentage" placeholder="Percentage">
                          </div>
                          <div class="form-group col-md-3" id="fixed_div" <% if(offerData.offerType != "fixed"){ %> style="display:none;" <% } %> >
                              <label for="fixed">Fixed</label>
                              <input type="text" name="fixed" class="form-control" value="<%= offerData.fixed%>" id="fixed" placeholder="Fixed">
                          </div>

                          <div class="form-group col-md-3">
                              <label for="cartValue">Minimum Cart Value</label>
                              <input type="text" name="cartValue" class="form-control" value="<%=offerData.minimum_cart_value%>" id="cartValue" placeholder="Minimum Cart Value">
                          </div> 
                          <div class="form-group col-md-3">
                              <label for="from">From Date</label>
                              <input type="date" name="from" class="form-control" id="from" value="<%=moment(offerData.from).format('YYYY-MM-DD')%>" placeholder="From Date">
                          </div>
                          <div class="form-group col-md-3">
                              <label for="to">To Date</label>
                              <input type="date" name="to" class="form-control" id="to" value="<%=moment(offerData.to).format('YYYY-MM-DD')%>" placeholder="To Date">
                          </div>
                      
                          <div class="form-group col-md-3">
                              <label for="capping">Capping</label>
                              <input type="text" name="capping" class="form-control" id="capping" value="<%=offerData.capping%>" placeholder="Capping">
                          </div>
                          <div class="form-group col-md-3">
                              <label for="applyFor">Select Apply For</label>
                              <select name="applyFor" class="form-control" id="applyFor">
                                  <option value="">Select Apply For</option>
                                  <option value="website"<% if(offerData.applyFor =="website"){ %> selected="selected" <% } %> >Website</option>
                                  <option value="app"<% if(offerData.applyFor =="app"){ %> selected="selected" <% } %> >App</option>
                                  <option value="both"<% if(offerData.applyFor =="both"){ %> selected="selected" <% } %> >Both</option>
                              </select>
                          </div>
                  </div>
                </div>
                <div class="card-footer">
                  <a href="<%=APPCONSTANT.ADMINCALLURL%>/manage_offer" class="btn btn-default">Cancel</a>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
  
          </div>
        </div>
      </div>
    </section>
  </div>