<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><%=pageTitle%></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="javascript:void(0)"><%=moduleName%></a></li>
              <li class="breadcrumb-item active"><%=pageTitle%></li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary card-outline">
              <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">Discount Information</h3>
                <ul class="nav nav-pills ml-auto p-2">
                  <li class="nav-item"><a class="btn btn-block btn-secondary" href="<%=APPCONSTANT.ADMINCALLURL%>/manage_discount">Back</a></li>
                </ul>
              </div>
              <form role="form" id="addDiscountForm" method="post" enctype="multipart/form-data">
                <div id="tableContent" style="padding: 0 17px 0 10px;">
                  <div class="form-row">
                      <!-- <div class="card-body"> -->
                          <div class="form-group col-md-3">
                            <label for="couponNo">Coupon No </label>
                            <input type="text" name="couponNo" class="form-control couponNo" id="couponNo" placeholder="Please Enter This formate(  LB1234567 )">
                          </div>
                          <div class="form-group col-md-3">
                              <label for="couponName">Coupon Name </label>
                              <input type="text" name="couponName" class="form-control" id="couponName" placeholder="Coupon Name">
                          </div>
                          <div class="form-group col-md-3">
                            <label for="orderValue">Minimum Order Excluding GST</label>
                            <input type="text" name="orderValue" class="form-control" id="orderValue" placeholder="Minimum Order Value">
                          </div>
                          <div class="form-group col-md-3">
                            <label for="noOfUses"> No Of Uses</label>
                            <input type="text" name="noOfUses" class="form-control" id="noOfUses" placeholder="No Of Uses">
                          </div>
                        
                          <div class="form-group col-md-3">
                              <label for="offerType">Select Offer Type</label>
                              <select name="offerType" class="form-control" id="offerType">
                              <option value="">Select Offer Type</option>
                              <option value="percentage">Percentage</option>
                              <option value="fixed">Fixed</option>
                              </select>
                          </div>
                          <div class="form-group col-md-3" id="percentage_div" style="display:none;">
                            <label for="percentage">Percentage</label>
                            <input type="text" name="percentage" class="form-control" id="percentage" placeholder="Percentage">
                          </div>
                          <div class="form-group col-md-3" id="fixed_div" style="display:none;">
                              <label for="fixed">Fixed</label>
                              <input type="text" name="fixed" class="form-control" id="fixed" placeholder="Fixed">
                          </div>

                          <div class="form-group col-md-3">
                              <label for="from">From Date</label>
                              <input type="date" name="from" class="form-control" id="from" placeholder="(YYYY-MM-DD) From Date">
                          </div>
                          <div class="form-group col-md-3">
                              <label for="to">To Date</label>
                              <input type="date" name="to" class="form-control" id="to" placeholder=" (YYYY-MM-DD) To Date">
                          </div>
                      
                          <div class="form-group col-md-3">
                              <label for="capping">Capping</label>
                              <input type="text" name="capping" class="form-control" id="capping" placeholder="Capping">
                          </div>
                          <div class="form-group col-md-3">
                              <label for="applyFor">Select Apply For</label>
                              <select name="applyFor" class="form-control" id="applyFor">
                                  <option value="">Select Apply For</option>
                                  <option value="website">Website</option>
                                  <option value="app">App</option>
                                  <option value="both">Both</option>
                              </select>
                          </div>
                        
                          
                          
                      <!-- </div> -->
                  </div>
                </div>
                <div class="card-footer">
                  <a href="<%=APPCONSTANT.ADMINCALLURL%>/manage_discount" class="btn btn-default">Cancel</a>
                  <button type="submit" class="btn btn-primary add_button">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
  
          </div>
        </div>
      </div>
    </section>
  </div>
  <script>
    $(document).on("change","#offerType",function(){
          var checkvalue = $(this).val();
          if(checkvalue=="percentage"){
            $("#percentage_div").show();
            $("#fixed_div").hide();
          } else {
            $("#fixed_div").show();
            $("#percentage_div").hide();
          }
    });

    $(document).on("click",".add_button",function(){
      var regex = new RegExp(/^[a-z]{2}[0-9]{7}$/i);
      var textvalue = $("#couponNo").val();
        if (regex.test(textvalue)) {
        } else {
            alert("Please Enter  Coupon Number Two Character and Seven Number This Formate(  LB1234567 )");
            $("#couponNo").focus();
            return false;
        }
    });
</script>