<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><%=pageTitle%></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="javascript:void(0)"><%=moduleName%></a></li>
              <li class="breadcrumb-item active"><%=pageTitle%></li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary card-outline">
              <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">Discount Information</h3>
                <ul class="nav nav-pills ml-auto p-2">
                  <li class="nav-item"><a class="btn btn-block btn-secondary" href="<%=APPCONSTANT.ADMINCALLURL%>/manage_discount">Back</a></li>
                </ul>
              </div>
              <form role="form" id="addOfferForm" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="form-group">
                      <label for="coupon_no">Coupon No </label>
                      <input type="text" name="coupon_no" class="form-control" value="<%=discountData.coupon_no%>" id="coupon_no" placeholder="Coupon No">
                    </div>
                    <div class="form-group">
                        <label for="coupon_name">Coupon Name </label>
                        <input type="text" name="coupon_name" class="form-control" value="<%=discountData.name%>" id="coupon_name" placeholder="Coupon Name">
                    </div>
                    <div class="form-group">
                      <label for="min_order">Minimum Order Excluding GST</label>
                      <input type="text" name="min_order" class="form-control" value="<%=discountData.min_Order_gst%>" id="min_order" placeholder="Minimum Order Value">
                    </div>
                    <div class="form-group">
                      <label for="no_of_uses"> No Of Uses</label>
                      <input type="text" name="no_of_uses" class="form-control" value="<%=discountData.no_of_uses%>" id="no_of_uses" placeholder="No Of Uses">
                    </div>
                   
                    <div class="form-group">
                        <label for="offertype">Select Offer Type</label>
                        <select name="offertype" class="form-control" id="offertype">
                        <option value="">Select Offer Type</option>
                        <option value="percentage"<% if(discountData.offer_type=="percentage"){ %> selected="selected" <% } %> >Percentage</option>
                        <option value="fixed"<% if(discountData.offer_type=="fixed"){ %> selected="selected" <% } %> >Fixed</option>
                        </select>
                    </div>
                    <div class="form-group" id="percentage_div" <% discountData.percentage!=null? style="display:none;":style="display:block;"%>>
                      <label for="percentage">Percentage</label>
                      <input type="text" name="percentage" class="form-control" value="<%=discountData.percentage%>" id="percentage" placeholder="Percentage">
                    </div>
                    <div class="form-group" id="fixed_div" <% discountData.fixed!=null? style="display:none;":style="display:block;"%>>
                        <label for="fixed">Fixed</label>
                        <input type="text" name="fixed" class="form-control" id="fixed" value="<%= discountData.fixed%>" placeholder="Fixed">
                    </div>

                    <div class="form-group">
                        <label for="from">From Date</label>
                        <input type="date" name="from" class="form-control" value="<%=moment(discountData.from).format('YYYY-MM-DD')%>" id="from" placeholder="From Date">
                    </div>
                    <div class="form-group">
                        <label for="to">To Date</label>
                        <input type="date" name="to" class="form-control" value="<%=moment(discountData.to).format('YYYY-MM-DD')%>" id="to" placeholder="To Date">
                    </div>
                
                    <div class="form-group">
                        <label for="capping">Capping</label>
                        <input type="text" name="capping" class="form-control" value="<%=discountData.capping%>" id="capping" placeholder="Capping">
                    </div>
                    <div class="form-group">
                        <label for="applyfor">Select Apply For</label>
                        <select name="applyfor" class="form-control" id="applyfor">
                            <option value="">Select Apply For</option>
                            <option value="web"<% if(discountData.apply_for=="web"){%>selected="selected" <%} %> >Wed</option>
                            <option value="app"<% if(discountData.apply_for=="app"){%>selected="selected" <%} %> >App</option>
                            <option value="both"<% if(discountData.apply_for=="both"){%>selected="selected" <%} %> >Both</option>
                        </select>
                    </div>
                   
                    
                    
                </div>
                <div class="card-footer">
                  <a href="<%=APPCONSTANT.ADMINCALLURL%>/manage_discount" class="btn btn-default">Cancel</a>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
  
          </div>
        </div>
      </div>
    </section>
  </div>
  <script>

    

    $(document).on("change","#offertype",function(){
          var checkvalue = $(this).val();
          if(checkvalue=="percentage"){
            $("#percentage_div").show();
            $("#fixed_div").hide();
          } else {
            $("#fixed_div").show();
            $("#percentage_div").hide();
          }
    });
  

    $(document).on("change", "#categoryId", function(){
        var ids = "";
        $('option:selected', $(this)).each(function() {

          if(ids==""){
            ids = $(this).val();
          }else{
            ids += ","+$(this).val();
          }
          });
          $.ajax({
          type: 'POST',
          url: 'get_subcategory/',
          data: {ids:ids},
          success: function(response) {
            console.log(response);
            if(response){
              $('#subcategoryData').html(response);	
            }
            else{
              $('#subcategoryData').html('');	
            }
          }
        });
    });
  </script>