<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%=pageTitle%></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)"><%=moduleName%></a></li>
            <li class="breadcrumb-item active"><%=pageTitle%></li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary card-outline">
            <div class="card-header d-flex p-0">
              <h3 class="card-title p-3">Customer Information</h3>
              <ul class="nav nav-pills ml-auto p-2">
                <li class="nav-item"><a class="btn btn-block btn-secondary" href="<%=APPCONSTANT.ADMINCALLURL%>/manage_order">Back</a></li>
              </ul>
            </div>
            <form role="form" id="addOrderForm" method="post" enctype="multipart/form-data">
              <div id="tableContent" style="padding: 0 17px 0 10px;">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="userId">Select Customer</label>
                    <select name="userId" class="form-control select2" id="userId">
                      <option value="">Select Option</option>
                      <% for(let i = 0; i < customerData.length; i++){ %>
                      <option value="<%=customerData[i].id%>"><%=customerData[i].mobile%></option>
                      <% } %>
                    </select>
                  </div>
                </div>
                <div class="card-header">
                  <h3 class="card-title">Cart Information</h3>
                </div>
                <div class="form-row cartField">
                  <div class="form-group col-md-4">
                    <label for="productId">Select Product</label>
                    <select name="productId" class="form-control select2 productId">
                      <option value="">Select Option</option>
                      <% for(let i = 0; i < productData.length; i++){ %>
                      <option value="<%=productData[i].id%>"><%=productData[i].name%></option>
                      <% } %>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="varientId">Select Varient</label>
                    <select name="varientId" class="form-control select2 varientId">
                      <option value="">Select Option</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="quantity">Select Quantity</label>
                    <select name="quantity" class="form-control select2 quantity">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12"> 
                  <button type="button" class="btn btn-primary pull-right addMoreProducts">Add More</button>
                </div><br><br><br>
              </div>    
              <div class="card-footer">
                <a href="<%=APPCONSTANT.ADMINCALLURL%>/manage_order" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-primary add_button">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </section>
</div>
<script>
  $('.addMoreProducts').click(function(){
    var productData = `<%- JSON.stringify(productData) %>`;
    productData = JSON.parse(productData);
    var html = `<div class="form-row cartField">
                  <div class="form-group col-md-4">
                    <label for="productId">Select Product</label>
                    <select name="productId" class="form-control select2 productId">
                      <option value="">Select Option</option>`;
                        
                    for(var i = 0; i < productData.length; i++){
                      let optionValue = productData[i]._id;
                      let optionName = productData[i].name;
                      html += `<option value="`+optionValue+`">`+optionName+`</option>`;
                    }
        html += `</select>
                </div>
                <div class="form-group col-md-4">
                  <label for="varientId">Select Varient</label>
                  <select name="varientId" class="form-control select2 varientId">
                    <option value="">Select Option</option>
                  </select>
                </div>
                  <div class="form-group col-md-3">
                    <label for="quantity">Select Quantity</label>
                    <select name="quantity" class="form-control select2 quantity">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </div>
                <div class="form-group col-md-1">
                  <a class="deleteCartField" href="javascript:void(0);">Remove</a>
                </div>
              </div>`;
    $('.cartField:last').after(html);
    initailizeSelect2();
  });

  $('body').on("click", ".deleteCartField", function () {
    $(this).parent().parent().remove();
  });

</script>