<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><%=pageTitle%></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="javascript:void(0)"><%=moduleName%></a></li>
              <li class="breadcrumb-item active"><%=pageTitle%></li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary card-outline">
              <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">Customer Details</h3>
                <ul class="nav nav-pills ml-auto p-2">
                  <li class="nav-item"><a class="btn btn-block btn-secondary" href="/admin/manage_order">Back</a></li>
                </ul>
              </div>
              <div class="card-body">
                <input type="hidden" id="odid" value="<%=orderData.odid%>">
                <table style="width: 100%;">
                  <tr>
                    <td><b>Order Id:</b> <%=orderData.odid %></td>
                    <td><b>Address:</b> <%=orderData.customerDetail.address %></td>
                  </tr>
                  <tr>
                    <td><b>Order Date:</b> <%=moment(orderData.createdAt).format('DD-MM-YYYY'); %></td>
                    <td><%=orderData.customerDetail.society %> <%=orderData.customerDetail.area %></td>
                  </tr>
                  <tr>
                    <td><b>Customer Name:</b> <%=orderData.customerDetail.name %></td>
                    <td><%=orderData.customerDetail.city %> <%=orderData.customerDetail.state %></td>
                  </tr>
                  <tr>
                    <td><b>Mobile:</b> <%=orderData.customerDetail.mobile %></td>
                    <td><%=orderData.customerDetail.pincode %> <%=orderData.customerDetail.country %></td>
                  </tr>
                </table>
                <div class="card-header d-flex p-0">
                  <h3 class="card-title p-3">Order Details</h3>
                </div>
                <br>
                <h4>Available Products</h4>
                <div class="col-md-12"> 
                  <button type="button" class="btn btn-primary pull-right" id="markAsNotAvailable">Mark as not available</button><br>
                </div>
                <table class="table table-bordered" id="availableTable">
                  <thead>           
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Product</th>
                      <th>Varient</th>
                      <th>Unit Price</th>
                      <th>Quantity</th>
                      <th>Total Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i = 0; i < orderDetailData.length; i++){ %>
                    <tr>
                      <td><input value="<%= orderDetailData[i]._id %>" class="orderDetailId" type="checkbox" data-productid="<%= orderDetailData[i].productId; %>" data-varientid="<%= orderDetailData[i].varientId; %>" data-quantity="<%= orderDetailData[i].quantity; %>" /></td>
                      <td><%= orderDetailData[i].productData[0].name; %></td>
                      <td><%= orderDetailData[i].varientData[0].label %> <%=orderDetailData[i].varientData[0].measurementUnit %></td>
                      <td><%= orderDetailData[i].price; %> </td>
                      <td><%= orderDetailData[i].quantity; %> </td>
                      <td><%= orderDetailData[i].price*orderDetailData[i].quantity; %></td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
                
                <% if(rejectOrderData.length > 0){ %>
                  <br>
                <h4>Not Available Products</h4>
                <br>
                <table class="table table-bordered" id="notAvailableTable">
                  <thead>           
                    <tr>
                      <th>Product</th>
                      <th>Varient</th>
                      <th>Unit Price</th>
                      <th>Quantity</th>
                      <th>Total Price <%=rejectOrderData.length%></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i = 0; i < rejectOrderData.length; i++){ %>
                    <tr>
                      <td><%= rejectOrderData[i].productData[0].name; %></td>
                      <td><%= rejectOrderData[i].varientData[0].label %> <%=rejectOrderData[i].varientData[0].measurementUnit %></td>
                      <td><%= rejectOrderData[i].price; %> </td>
                      <td><%= rejectOrderData[i].quantity; %> </td>
                      <td><%= rejectOrderData[i].price*rejectOrderData[i].quantity; %></td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
                <% } %>

                <br>
                <h4>Free Items</h4>
                <br>
                <table class="table table-bordered" id="freeItemTable">
                  <thead>           
                    <tr>
                      <th>Product</th>
                      <th>Varient</th>
                      <th>Quantity</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(freeItemData.length > 0){ %>
                    <% for(let i = 0; i < freeItemData.length; i++){ %>
                    <tr>
                      <td><%= freeItemData[i].productData[0].name; %></td>
                      <td><%= freeItemData[i].varientData[0].label %> <%=freeItemData[i].varientData[0].measurementUnit %></td>
                      <td><%= freeItemData[i].quantity; %> </td>
                      <td><%= freeItemData[i].price; %> </td>
                    </tr>
                    <% } %>
                    <% }else{ %>
                      <tr>
                        <td colspan="4" style="text-align: center;">No Free Items</td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
                
                <br>
                <table style="width: 100%;">
                    <tr>
                      <td style="width: 25%;">
                        <label for="state">Select Store</label>
                        <select name="storeId" id="storeId" class="form-control">
                          <option value="">Select Store</option>
                          <% for(let i = 0; i < storeData.length; i++){ %>
                            <option value="<%=storeData[i].id%>"
                              <% if(storeData[i].id == orderData.storeId){ %> selected="selected" <% } %> ><%=storeData[i].name%></option>
                          <% } %>
                        </select>
                        <span class="customError" id="storeErr"></span>
                      </td>
                      <td style="width: 25%;">
                        <label for="state">Payment Status</label>
                        <select name="paymentStatus" id="paymentStatus" class="form-control">
                          <option value="">Select Payment Status</option>
                          <% for(let i = 0; i < paymentStatus.length; i++){ %>
                            <option value="<%=paymentStatus[i]%>"
                              <% if(paymentStatus[i] == orderData.paymentStatus){ %> selected="selected" <% } %> ><%=paymentStatus[i]%></option>
                          <% } %>
                        </select>
                      </td>
                      <td style="width: 25%;">
                        <label for="state">Order Status</label>
                        <select name="orderStatusId" id="orderStatusId" data-orderid="<%= orderData.id %>" class="form-control">
                          <option value="">Select Order Status</option>
                          <% for(let i = 0; i < orderStatus.length; i++){ %>
                            <option value="<%=orderStatus[i]%>"
                              <% if(orderStatus[i] == orderData.orderStatus){ %> selected="selected" <% } %> ><%=orderStatus[i]%></option>
                          <% } %>
                        </select>
                      </td>
                      <td style="width: 25%;text-align:right;">
                        <b>Sub Total:</b> <%= orderData.subTotal %><br>
                        <b>Taxes:</b> <%= 0 %><br>
                        <b>Shipping Charges:</b> <%= orderData.shipping ? orderData.shipping : 'Free' %><br>
                        <b>Grand Total: </b> <%= orderData.grandTotal %>
                      </td>
                    </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-6">
  
          </div>
        </div>
      </div>
    </section>
  </div>
  <script>
    $(document).on("click",'#markAsNotAvailable', function(){
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-success',
          cancelButton: 'btn btn-danger'
        },
        buttonsStyling: false
      })
      let odid = $("#odid").val();
      let id = [];
      $('.orderDetailId').each(function () {
        if (this.checked == true) {
          id.push($(this).val());
        }
      });
      if(id.length > 0)
      {
        $.ajax({
          type: 'POST',
          url: 'mark_as_not_available',
          data: {id:id, odid:odid},
          success: function(response) {
            console.log(response);
            location.reload();
          }
        }); 
      }
      else
      {
        swalWithBootstrapButtons.fire(
            'Cancelled',
            'Please select Products :)',
            'error'
        )
      }      
    });

    
    $('#orderStatusId').change(function(){
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: 'btn btn-success',
          cancelButton: 'btn btn-danger'
        },
        buttonsStyling: false
      })
      let orderId = $(this).data('orderid');
      let orderStatus = $(this).val();
      let storeId = $('#storeId').val();
      let paymentStatus = $('#paymentStatus').val();
      if(storeId == '')
      {
        $(this).val('');
        $('#storeErr').html('Please select store to proceed');
      }
      else
      {
        $('#storeErr').html('');
        let productIdArr = [];
        let varientIdArr = [];
        let quantityArr = [];
        $('#availableTable > tbody > tr').each(function(index, tr) { 
          productIdArr.push($(this).find("input").data('productid'));
          varientIdArr.push($(this).find("input").data('varientid'));          
          quantityArr.push($(this).find("input").data('quantity'));          
        });
        $.ajax({
          type: 'POST',
          url: 'check_available_product',
          data: {productIdArr:productIdArr, varientIdArr:varientIdArr},
          success: function(response) { 
            if(response != 'OK')
            {
              $('#storeErr').html(response);
            }
            swalWithBootstrapButtons.fire({
              title: 'Are you sure to change status?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonText: 'Yes, change it!',
              cancelButtonText: 'No, cancel!',
              reverseButtons: true
            }).then((result) => {
              if (result.value) {
                  $.ajax({
                      type: 'POST',
                      url: 'change_order_status',
                      data: {orderId:orderId, orderStatus:orderStatus, storeId:storeId, paymentStatus:paymentStatus, productIdArr:productIdArr, varientIdArr:varientIdArr, quantityArr:quantityArr},
                      success: function(response) {
                        swalWithBootstrapButtons.fire(
                            'Chnaged!',
                            'Your order status has been changed succesfully.',
                            'success'
                        )
                      }
                  });
              } else if (result.dismiss === Swal.DismissReason.cancel) {
                  swalWithBootstrapButtons.fire(
                      'Cancelled',
                      'Your data is safe :)',
                      'error'
                  )
              }
            })
          }
        });
      }
    });

</script>
