<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><%=pageTitle%></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="javascript:void(0)"><%=moduleName%></a></li>
              <li class="breadcrumb-item active"><%=pageTitle%></li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary card-outline">
              <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">Order Information</h3>
                <ul class="nav nav-pills ml-auto p-2">
                  <li class="nav-item"><a class="btn btn-block btn-secondary" href="/admin/view_order">Back</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="card card-widget widget-user" style="height: 15%">
                  <div class="widget-user-header bg-info">
                    <h5 class="widget-user-username"><%=orderData.customerData.name %></h5>
                    <h5 class="widget-user-desc"><%=orderData.customerData.mobile %></h5>
                    <h5 class="widget-user-desc"><%=orderData.customerData.address %></h5>
                    <h5 class="widget-user-desc">Order ID - <%=orderData.orderId%></h5>
                    <h5 class="widget-user-desc ">Created At - <%=orderData.createdAt %></h5>
                  </div>
                  <div class="card-footer">
                    <div class="row">
                      <%- include ('../message/message') -%>
                      <table class="table table-bordered" id="orderDetailTable">
                        <thead>      
                          <tr>
                              <label for="bulkOperationId" >Bulk Operation: </label>
                              <select name="bulkOperationId" class="form-control" id="bulkOperationId" >
                                <option value="">Select Bulk Operation</option>
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                              </select>
                              <button id="bulkOperationButton" class="btn btn-primary">Submit</button>
                          </tr>            
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Product</th>
                            <th>Variant</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for(let i = orderDetailData.length-1; i >= 0; i--){ %>
                          <tr>
                            <td><input value="<%= orderDetailData[i]._id %>" class="bulkOperationStatus" type="checkbox" /></td>
                            <td><%= orderDetailData[i].productData.name; %></td>
                            <td><%= orderDetailData[i].variantData.label %> <%=orderDetailData[i].variantData.measurementUnit %></td>
                            <td><%= orderDetailData[i].price; %> </td>
                            <td><%= orderDetailData[i].quantity; %> </td>
                              <td>
                                <% if (orderDetailData[i].status) { %>
                                  <span class="badge bg-success" style="cursor:pointer;" onclick="changeStatus(this, 0, 'change_status_order_detail', 'order_detail', 'orderDetail')" id="<%= orderDetailData._id %>" >Active</span>
                                <% } else { %>
                                  <span class="badge bg-danger" style="cursor:pointer;" onclick="changeStatus(this, 1, 'change_status_order_detail', 'order_detail', 'orderDetail')" id="<%= orderDetailData._id %>" >Inactive</span>
                                <% } %>
                              </td>
                          </tr>
                          <% } %>
                        </tbody>
                      </table>￼
                    </div>
                    <div>
                      <input type="hidden" id="orderId" value="<%=orderData.orderId%>">
                      <label for="state">Order Status</label>
                      <select name="orderStatusId" id="orderStatusId">
                        <option value="">Select Order Status</option>
                        <% for(let i = 0; i < orderStatus.length; i++){ %>
                          <option value="<%=orderStatus[i]%>"
                            <% if(orderStatus[i] == orderData.orderStatus){ %> selected="selected" <% } %> ><%=orderStatus[i]%></option>
                        <% } %>
                      </select>
                      <button id="statusChange" class="btn btn-primary">Submit</button>
                    </div>
                    <div>
                      <div>Sub Total : <%= orderData.subTotal %> </div>
                      <div>Taxes : <%= orderData.sgst + orderData.cgst + orderData.igst %></div>
                      <div>Total : <%= orderData.grandTotal %></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
  
          </div>
        </div>
      </div>
    </section>
  </div>
  <script>
    $(document).on("click",'#bulkOperationButton', function(){
      const status = $('#bulkOperationId').val();
      const ids = [];
       $('.bulkOperationStatus:checked').each(function(){
         ids.push($(this).val());
      });
      const orderId = $("#orderId").val();
      $.ajax({
              url: 'change_order_detail_status_bulk',
              type: 'POST',
              data: { ids, status, orderId }
      });        
    });
</script>
