<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><%=pageTitle%></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="javascript:void(0)"><%=moduleName%></a></li>
              <li class="breadcrumb-item active"><%=pageTitle%></li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary card-outline">
              <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">Wallet Information</h3>
                <ul class="nav nav-pills ml-auto p-2">
                  <li class="nav-item"><a class="btn btn-block btn-danger" href="<%=APPCONSTANT.ADMINCALLURL%>/export_stock_details?productId=<%=productData[0]._id%>&varientId=<%=varientData.id%>&storeId=<%=storeData.id%>" target="_blank">Export</a></li>&nbsp;&nbsp;
                  <li class="nav-item"><a class="btn btn-block btn-secondary" href="/admin/manage_stock">Back</a></li>
                </ul>
              </div>
              <div class="card-body">
                <div class="card card-widget widget-user">
                  <div class="widget-user-header bg-info">
                    <h3 class="widget-user-username"><%=storeData.name%></h3>
                    <h5 class="widget-user-desc"><%=productData[0].name%> - <%=varientData.label+' '+varientData.measurementUnit%></h5>
                  </div>
                  <div class="widget-user-image">
                    <img class="img-circle elevation-2" src="<%=productData[0].thumbnailPath%><%=productData[0].image.thumbnail[0]%>" alt="User Avatar">
                  </div>
                  <div class="card-footer">
                    <div class="row">
                      <%- include ('../message/message') -%>
                      <table class="table table-bordered">
                        <thead>                  
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Count</th>
                            <th>Cost Price</th>
                            <th>Transaction Type</th>
                            <th>Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% let x = 1; 
                          for(let i = stockData.length-1; i >= 0; i--){ %>
                          <tr>
                            <td><%= x++; %></td>
                            <td><%= stockData[i].count; %></td>
                            <td><%= stockData[i].costPrice; %></td>
                            <td>
                              <% if(stockData[i].transactionType == 'in'){ %>
                              <span class="badge bg-success">IN</span>
                              <% }else{ %>
                              <span class="badge bg-danger">OUT</span>
                              <% } %>
                            </td>
                            <td><%= moment(stockData[i].createdAt).format('DD-MM-YYYY'); %></td>
                          </tr>
                          <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
  
          </div>
        </div>
      </div>
    </section>
  </div>