<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><%=pageTitle%></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="javascript:void(0)"><%=moduleName%></a></li>
              <li class="breadcrumb-item active"><%=pageTitle%></li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary card-outline">
              <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">Product Information</h3>
                <ul class="nav nav-pills ml-auto p-2">
                  <li class="nav-item"><a class="btn btn-block btn-secondary" href="<%=APPCONSTANT.ADMINCALLURL%>/manage_product">Back</a></li>
                </ul>
              </div>
              <form role="form" id="addProductForm" method="post" enctype="multipart/form-data">
                <div id="tableContent" style="padding: 0 17px 0 10px;">
                  <div class="form-row">
                      <div class="form-group col-md-3">
                        <label for="state">Select Category</label>
                        <select name="categoryId" class="form-control" id="categoryId">
                          <option value="">Select Category</option>
                          <% for(let i = 0; i < categoryData.length; i++){ %>
                            <option value="<%=categoryData[i].id%>"><%=categoryData[i].name%></option>
                          <% } %>
                        </select>
                      </div>

                      <div class="form-group col-md-3" id="subcategoryData">
                        <label for="state">Select Sub Category</label>
                        <select name="subcategoryId" class="form-control" id="subcategoryId">
                          <option value="">Select Sub Category</option>
                        </select>
                      </div>

                      <div class="form-group col-md-3">
                          <label for="name">Product Name</label>
                          <input type="text" name="name" class="form-control" id="name" placeholder="Product Name">
                      </div>
                      
                      <div class="form-group col-md-3">
                        <label for="brand">Select Brands</label>
                        <select name="brand" class="form-control" id="brand" >
                          <option value="">Select Brand</option>
                          <% for(let i = 0; i < brandData.length; i++){ %>
                            <option value="<%=brandData[i].id%>"><%=brandData[i].name%></option>
                          <% } %>
                        </select>
                      </div>
                      
                      <div class="form-group col-md-3">
                          <label for="offer">Select Offer applicable</label>
                          <select name="offer" class="form-control" id="offer" >
                          <option value="">Select Offer</option>
                          <option value="Yes">Yes</option>
                          <option value="No">No</option>
                          </select>
                      </div>
                      
                      <div class="form-group col-md-3">
                          <label for="discount">Select Discount applicable</label>
                          <select name="discount" class="form-control" id="discount" >
                          <option value="">Select Discount</option>
                          <option value="Yes">Yes</option>
                          <option value="No">No</option>
                          </select>
                      </div>

                      <div class="form-group col-md-3">
                        <label for="stock_keeping">Stock Keeping Unit</label>
                        <input type="text" name="stock_keeping" class="form-control" id="stock_keeping" placeholder="Please Enter Value This formate (      LB1234567 ) ">
                      </div>  

                      <div class="form-group col-md-3">
                        <label for="weight_in" >Product Weight In</label>
                        <select name="weight_in" class="form-control" id="weight_in" >
                          <option value="">Select Weight In</option>
                          <option value="ml">ML</option>
                          <option value="gram">Gram</option>
                          <option value="kg">KG</option>
                        </select>
                      </div>

                      <div class="form-group col-md-12">
                          <label for="address">Description</label>
                          <textarea name="description" class="form-control" id="description" placeholder="Description"></textarea>
                      </div> 

                      <div class="form-group col-md-12">
                        <label class="col-md-3" for="featured">Featured Product</label>
                        <div class="col-md-9" style="margin-top: -30px; margin-left: -150px;">
                          <input type="checkbox" name="featured" class="form-control" id="featured" placeholder="Please Enter featured">
                        </div>
                      </div>
                  </div>
                  <div class="card-header">
                    <h3 class="card-title">Inventory</h3>
                  </div>
                  <% for(let i = 0; i < storeData.length; i++){ %>
                    <div class="col-md-12">
                      <h4 class="storeLabel"><%=storeData[i].name%></h4>
                    </div>  
                    <div class="form-row" id="storeField_<%=i%>">
                      <div class="form-group col-md-3">
                        <label for="label">Label</label>
                        <input type="text" name="label" class="form-control" placeholder="Label">
                      </div>  
                      <div class="form-group col-md-3">
                        <label for="quantity">Quantity</label>
                        <input type="text" name="quantity" class="form-control" placeholder="Quantity">
                      </div>  
                      <div class="form-group col-md-3">
                        <label for="price">Price</label>
                        <input type="text" name="price" class="form-control" placeholder="Price">
                      </div>  
                      <div class="form-group col-md-3">
                        <label for="label">Default</label>
                        <input type="radio" name="default" class="form-control">
                      </div>  
                    </div>
                    <div class="col-md-12"> 
                      <button type="button" class="btn btn-primary pull-right addMoreStoreFields" data-storeno="<%=i%>">Add More</button>
                    </div>
                    <br><br>
                  <% } %>
                  <% for(let i = 0; i < APPCONSTANT.PRODUCTIMAGELENGTH; i++){ %>
                    <div class="form-row">
                      <div class="form-group col-md-3">
                        <label for="thumbnail">Thumbnail</label>
                        <input type="file" name="thumbnail">
                      </div>  
                      <div class="form-group col-md-3">
                        <label for="small">Small</label>
                        <input type="file" name="small">
                      </div>  
                      <div class="form-group col-md-3">
                        <label for="large">Large</label>
                        <input type="file" name="large">
                      </div>  
                      <div class="form-group col-md-3">
                        <button type="button" class="btn btn-primary pull-right addImage">Add</button>
                      </div>  
                    </div>
                  <% } %>
                </div>    
                <div class="card-footer">
                  <a href="<%=APPCONSTANT.ADMINCALLURL%>/manage_product" class="btn btn-default">Cancel</a>
                  <button type="submit" class="btn btn-primary add_button">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
  
          </div>
        </div>
      </div>
    </section>
  </div>
  <script>
    $('.addMoreStoreFields').click(function(){
      var storeno = $(this).data('storeno');
      var html = `<div class="form-group col-md-3">
                    <label for="label">Label</label>
                    <input type="text" name="label" class="form-control" placeholder="Label">
                  </div>  
                  <div class="form-group col-md-3">
                    <label for="quantity">Quantity</label>
                    <input type="text" name="quantity" class="form-control" placeholder="Quantity">
                  </div>  
                  <div class="form-group col-md-3">
                    <label for="price">Price</label>
                    <input type="text" name="price" class="form-control" placeholder="Price">
                  </div>  
                  <div class="form-group col-md-3">
                    <label for="label">Default</label>
                    <input type="radio" name="default" class="form-control">
                  </div>  `;
      $('#storeField_'+storeno+':last').append(html);
    });

    $(document).on("click",".add_button",function(){
      var regex = new RegExp(/^[a-z]{2}[0-9]{7}$/i);
      var textvalue = $("#stock_keeping").val();
        if (regex.test(textvalue)) {
        } else {
            alert("Please Enter stock keeping Unit Two Character and Seven Number This Formate(  LB1234567 )");
            $("#stock_keeping").focus();
            return false;
        }
    });
  </script>